/* top white nav */
.navbar-brand {
margin-right: 0px;
width: 60%;
}

.navbar-logo {
    width: 62%;
}

#navbar-1 {
    padding-top: 10px;
}

.navbar-location {
    padding-left: 30px;
    font-size: 20px;
}

.navbar-street {
    padding-left: 45px;
    font-size: 11px;
}

.navbar-city {
    padding-left: 35px;
    font-size: 11px;
}

/* middle opacity nav */
#navbar-2 {
    opacity: .4;
    background-color: #4D1818; 
    padding-top: 10px;
    padding-bottom: 10px; 
}

.navbar-phone{ 
    color: white !important;
    font-size: 26px;
}

/* bottom full color nav */
#navbar-3 {
    background-color: #4D1818; 
    padding-top: 10px !important;
    padding-bottom: 10px !important; 
}

.nav-link {
    color: white !important;
}

.navbar-street {
line-height: 0 !important;
}

.active, .nav-link:hover {
    background-color: white;
    color: black !important;
  }

ul {
    padding-left: 0px !important;
}

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        /* margin-right: 0px; */
        width: 100%;
        }

    /* .navbar-location {
        padding-left: 30px;
        font-size: 20px;
    }
        
    .navbar-street {
        padding-left: 45px;
        font-size: 11px;
    }
        
    .navbar-city {
        padding-left: 35px;
        font-size: 11px;
    }
    
    .navbar-phone{ 
        font-size: 26px;
    } */
   
    }

@media only screen and (max-width: 900px) {
    .navbar-brand {
        margin-left: 100px !important;
        width: 100% !important;
    }

    .navbar-location {
        margin-left: 110px !important;
        font-size: 15px !important;
    }
        
    .navbar-street {
        margin-left: 98px !important;
        font-size: 9px !important;
    }
        
    .navbar-city {
        margin-left: 105px !important;
        font-size: 9px !important;
    }
    
    .navbar-phone {
        margin-left: 118px !important;
        font-size: 15px !important; 
    }
   
    }

    @media only screen and (max-width: 667px) {
    .navbar-brand {
        margin-left: 100px !important;
        width: 100% !important;
    }
        
    .navbar-location {
        margin-left: 110px !important;
        font-size: 15px !important;
    }
                
    .navbar-street {
        margin-left: 98px !important;
        font-size: 9px !important;
    }
                
    .navbar-city {
        margin-left: 105px !important;
        font-size: 9px !important;
    }
            
    .navbar-phone {
        margin-left: 118px !important;
        font-size: 15px !important; 
    }
           
    }