.masthead {
    height: 70vh;
    background-image: url("/images/couple-date-lens-flare-40525.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #about {
    box-shadow: 5px 5px 5px rgb(197, 197, 197);
  }