.font-small{
    color: white;
}

.footer-top{
    opacity: .4;
    background-color: #4D1818; 
}

.footer-phone{
    color: white !important;
}

.footer-email{
    color: white !important;
}

.footer-copyright{
    background-color: #4D1818; 
}

.footer-link{
    color: white !important;
}

.fab{
    color: white !important;
    padding: 5px;
}