.font-small{
    color: white;
}

.footer-top{
    opacity: .4;
    background-color: #4D1818; 
}

.footer-phone{
    color: white !important;
}

.footer-email{
    color: white !important;
}

.footer-copyright{
    background-color: #4D1818; 
}

.footer-link{
    color: white !important;
}

.fab{
    color: white !important;
    padding: 5px;
}

@media only screen and (max-width: 1024px) {
.title{
    font-size: 10px !important;
}

.footer-phone{
    font-size: 10px !important;
}
    
.footer-email{
    font-size: 10px !important;
}

.list-unstyled{
    font-size: 10px !important;
}

.map-link{
    font-size: 10px;
}

.social{
    font-size: 10px !important;
}
       
}